<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery-3.1.0.min.js"></script>
    <script src="/main.js"></script>
    <meta charset="utf-8">
    <title>Bitly's cousin!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="stage" class="col-sm-12 text-center">
          <h1>Shorter than Bitly</h1>

          <form action="/links" method="POST">
            <div>
              URL: <input type="text" name="url">
              <button class="btn btn-default" type="submit">Shorten!</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
