<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery-3.1.0.min.js"></script>
    <script src="/main.js"></script>
    <meta charset="utf-8">
    <title>Bitly's cousin!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Your link is now magically short!</h1>

            <h2>
              Shortened URL:
            </h2>
            <div>
              <h3><input type="text" value="<%= url %>" onclick="this.select();"></h3>
            </div>

        </div>
      </div>
    </div>
  </body>
</html>
